
html,
body,
header,
#Intro {
  height: 100%;
}

.navbar-default {
  max-width: 100%;
}

#navbar {
  background-color: #161f297c;
}

#collapseicon {
  color: white;
}

#active {
  color: white;
}

body {
  background-color: #db393400;
  background-size: cover;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#back2 {
  background-image: url(media/images/Rectangle/Rectangle2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back3 {
  background-image: url(media/images/Rectangle/Rectangle3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back4 {
  background-image: url(media/images/Rectangle/Rectangle4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* linear-gradient(180deg, #14101f 15%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), */

#nameinfo {
  margin: 0;
  padding-top: 5%;
  padding-left: 5%;
}

#name {
  color: white;
  font-size: 20px;
}

#school {
  color: maroon;
}

#major {
  color: white;
}

#iconright {
  float: right;
  display: inline;
}

/* Image background */

#maxheight {
  max-height: 500px;
}

#cover {
  /* background-image: linear-gradient(0deg, rgb(34, 34, 34) 15%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), url(media/images/Rectangle/Rectangle\ 1.png); */
  background-size: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5); */
  height: 100vh;
  background-position: center center;
  max-width: 100%;
  display: flex;
  align-items: center center;
}

.testback {
  background-image: url(media/images/Rectangle/Rectangle1.png);
  height: auto;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

@media (min-width: 767px) {
  .parallax-home {
    background-image: url(media/images/Rectangle/Rectangle1.png);
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

html {
  scroll-behavior: smooth;
}

#aboutme {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#coverphoto {
  padding-top: 0 vh;
  background-color: rgba(255, 0, 0, 0);
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  margin: auto;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.imagecenter {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#Experience {
  padding-bottom: 0;
}

.hoverblue {
  color: white;
}

.hoverblue :hover {
  color: #0d7797;
}

.pad_bot {
  margin-bottom: 30px;
}

.iconify {
  color: #177e89;
  width: 24px;
  height: 24px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.img_resiz {
  width: 24px;
  height: 24px;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: rgb(221, 221, 221);
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.397);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }

  .pad_top {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 400px;
    height: auto;
    margin: 90px auto;
  }

  .pad_top {
    padding-top: 10px;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }

  .pad_top {
    margin-top: 20px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
  .pad_top {
    margin-top: 20px;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__img2 img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__img3 img {
  opacity: 1;
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > * {
  opacity: 1;
  transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(1) {
  transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(2) {
  transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(3) {
  transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(4) {
  transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(5) {
  transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(6) {
  transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(7) {
  transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(8) {
  transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(9) {
  transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(10) {
  transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(11) {
  transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(12) {
  transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(13) {
  transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(14) {
  transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content2 > *:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  box-shadow: 4px 13px 30px 1px rgba(23, 126, 137, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img2 {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  box-shadow: 4px 13px 30px 1px rgba(23, 126, 137, 0.2);
  border-radius: 20px;
  transform: translateX(80px);
  overflow: hidden;
}

.blog-slider__img3 {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  box-shadow: 4px 13px 30px 1px rgba(23, 126, 137, 0.2);
  border-radius: 20px;
  transform: translateX(80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-slider__img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-slider__img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (min-width: 768px){
  .blog-slider__img3{
    display: none;
  }
  .shift_left{
    margin-left: 15%;
  }

  .shift_right2{
    margin-right: 15%;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }

  .blog-slider__img3 {
    transform: translateY(-50%);
    width: 90%;
  }

  .blog-slider__img2 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }

  .blog-slider__img3 {
    width: 95%;
  }

  .blog-slider__img2 {
    display: none;
  }

}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }

  .blog-slider__img3 {
    height: 270px;
  }

  .blog-slider__img2 {
    display: none;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

.blog-slider__content2 {
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: -10 30px;
  }

  .blog-slider__content2 {
    margin-top: 0px;
    text-align: center;
    padding: -10px 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }

  .blog-slider__content2 {
    padding: 0;
  }
}

.blog-slider__content>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__content2>* {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #255C99 0%, #73BFB8 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(23, 126, 137, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #EA7317;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #DB3A34;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(23, 126, 137, 0.3);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}