#navbar-blog {
    background-color: #161b20f3;
    font-size:medium;
  }
  
  .navbar-default{
    max-width: 100%;
}

.overlayOne{
  background-image: url(../media/images/blog/circuit5-26.JPG);
  background-size: cover;
}

.whiteText{
  color: white;
}

.darkText{
  color: rgb(0, 0, 0);
}


body {
  font-size: 1.25rem;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 800;
  line-height: 1.2;
}

header.masthead .post-heading, header.masthead .site-heading .meta {
  color: #fff;
}

.header {
  display: block;
}

@media (min-width: 992px){
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
}

header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}

header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}


header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .post-heading .meta, header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

.article {
  display: block;
}

.caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.section-heading2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.hoverblue {
  color: black;
}

.hoverblue :hover {
  color: #495153;

}
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}